In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as DatetimeIndex
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score,roc_auc_score,classification_report
from sklearn.utils import check_array
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor

# import data

In [2]:
test = pd.read_csv('./test_1eLl9Yf.csv')
train = pd.read_csv('./train_fwYjLYX.csv')
submission = pd.read_csv('./sample_submission_IIzFVsf.csv')

# head

In [3]:
train.head(3)

  application_date  segment  branch_id        state  zone  case_count
0       2017-04-01        1        1.0  WEST BENGAL  EAST        40.0
1       2017-04-03        1        1.0  WEST BENGAL  EAST         5.0
2       2017-04-04        1        1.0  WEST BENGAL  EAST         4.0

In [4]:
test.head(3)

   id application_date  segment
0   1       2019-07-06        1
1   2       2019-07-07        1
2   3       2019-07-08        1

In [5]:
submission.head(3)

   id application_date  segment  case_count
0   1       2019-07-06        1           5
1   2       2019-07-07        1           5
2   3       2019-07-08        1           5

In [6]:
train.head(3)

  application_date  segment  branch_id        state  zone  case_count
0       2017-04-01        1        1.0  WEST BENGAL  EAST        40.0
1       2017-04-03        1        1.0  WEST BENGAL  EAST         5.0
2       2017-04-04        1        1.0  WEST BENGAL  EAST         4.0

In [13]:
def preprocess(df):
    df = df.fillna(0)
    for i in range(len(df)): 
        df.loc[i,'Day'] = int(df.loc[i,'application_date'].split('-')[2])
        df.loc[i,'month'] = int(df.loc[i,'application_date'].split('-')[1])
        df.loc[i,'year'] = int(df.loc[i,'application_date'].split('-')[0])

    train_dummies  = pd.get_dummies(df['state'], prefix = 'state')
    df = pd.concat([df, train_dummies], axis=1)
    train_dummies  = pd.get_dummies(df['zone'], prefix = 'zone')
    df = pd.concat([df, train_dummies], axis=1)
    df.drop(columns=['application_date','state','zone'],inplace=True)    
    
    return(df)

In [14]:
train_pre = preprocess(train)

In [16]:
train_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80402 entries, 0 to 80401
Data columns (total 32 columns):
segment                 80402 non-null int64
branch_id               80402 non-null float64
case_count              80402 non-null float64
Day                     80402 non-null float64
month                   80402 non-null float64
year                    80402 non-null float64
state_ANDHRA PRADESH    80402 non-null uint8
state_ASSAM             80402 non-null uint8
state_BIHAR             80402 non-null uint8
state_CHHATTISGARH      80402 non-null uint8
state_DELHI             80402 non-null uint8
state_GUJARAT           80402 non-null uint8
state_HARYANA           80402 non-null uint8
state_JHARKHAND         80402 non-null uint8
state_KARNATAKA         80402 non-null uint8
state_KERALA            80402 non-null uint8
state_MADHYA PRADESH    80402 non-null uint8
state_MAHARASHTRA       80402 non-null uint8
state_ORISSA            80402 non-null uint8
state_PUNJAB            80402 non-null uint8
state_TAMIL NADU        80402 non-null uint8
state_TELANGANA         80402 non-null uint8
state_TRIPURA           80402 non-null uint8
state_UTTAR PRADESH     80402 non-null uint8
state_UTTARAKHAND       80402 non-null uint8
state_WEST BENGAL       80402 non-null uint8
zone_0                  80402 non-null uint8
zone_CENTRAL            80402 non-null uint8
zone_EAST               80402 non-null uint8
zone_NORTH              80402 non-null uint8
zone_SOUTH              80402 non-null uint8
zone_WEST               80402 non-null uint8
dtypes: float64(5), int64(1), uint8(26)
memory usage: 5.7 MB

In [17]:
X = train_pre.drop("case_count",1)
y = train_pre['case_count']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=7)

In [21]:
lr = RandomForestRegressor()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

In [28]:
print(metrics.mean_absolute_error(y_test,y_pred))

47.05891256581401

In [25]:
preprocess(test)

KeyError: 'state'

In [26]:
test

      id application_date  segment
0      1       2019-07-06        1
1      2       2019-07-07        1
2      3       2019-07-08        1
3      4       2019-07-09        1
4      5       2019-07-10        1
5      6       2019-07-11        1
6      7       2019-07-12        1
7      8       2019-07-13        1
8      9       2019-07-14        1
9     10       2019-07-15        1
10    11       2019-07-16        1
11    12       2019-07-17        1
12    13       2019-07-18        1
13    14       2019-07-19        1
14    15       2019-07-20        1
15    16       2019-07-21        1
16    17       2019-07-22        1
17    18       2019-07-23        1
18    19       2019-07-24        1
19    20       2019-07-25        1
20    21       2019-07-26        1
21    22       2019-07-27        1
22    23       2019-07-28        1
23    24       2019-07-29        1
24    25       2019-07-30        1
25    26       2019-07-31        1
26    27       2019-08-01        1
27    28       2019-08-02        1
28    29       2019-08-03        1
29    30       2019-08-04        1
..   ...              ...      ...
150  151       2019-09-25        2
151  152       2019-09-26        2
152  153       2019-09-27        2
153  154       2019-09-28        2
154  155       2019-09-29        2
155  156       2019-09-30        2
156  157       2019-10-01        2
157  158       2019-10-02        2
158  159       2019-10-03        2
159  160       2019-10-04        2
160  161       2019-10-05        2
161  162       2019-10-06        2
162  163       2019-10-07        2
163  164       2019-10-08        2
164  165       2019-10-09        2
165  166       2019-10-10        2
166  167       2019-10-11        2
167  168       2019-10-12        2
168  169       2019-10-13        2
169  170       2019-10-14        2
170  171       2019-10-15        2
171  172       2019-10-16        2
172  173       2019-10-17        2
173  174       2019-10-18        2
174  175       2019-10-19        2
175  176       2019-10-20        2
176  177       2019-10-21        2
177  178       2019-10-22        2
178  179       2019-10-23        2
179  180       2019-10-24        2

[180 rows x 3 columns]